body {
  font-size: 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
#seats{
  padding:10px;
}

#pay{
  margin-top:20px;
  font-size:25px;
  border:2px solid black;
  background-color:green;
  color:white;
  cursor:pointer;
  border-radius:10px;
  display:none;
}

#get{
   font-size:30px;
   width:100px;
}

#title{
  text-align:center;
  font-style:italic;
  text-shadow:5px 5px red;
}

#book{
    margin-top:20px;
    font-size:25px;
    /* border:2px solid black; */
    background-color:red;
    color:white;
    cursor:pointer;
    border-radius:10px;
    height: 30px;
    width:100px;
    padding-bottom:10px;
    display:none;
}

#col{
  display:none;
  margin-left:42%;
}
td{
  margin:15px;
  font-size:15px;
}
